* {
  padding: 0;
  margin: 0;
  font-family: Times New Roman;
}

/* mobile version */
@media only screen and (max-width : 1000px) {
  #topbarcontent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    padding: 2px;
    padding-left: 4vw;
    padding-bottom: 6px;
    width: 100%;
    max-width: 100%;
    position: fixed;
    background-color: white;
    font-size: 1.3em;
  }

  #filterbarcontent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    border-bottom: solid;
    padding: 2px;
    padding-left: 4vw;
    padding-bottom: 5px;
    padding-top: 6vh;
    width: 100%;
    max-width: 100%;
    position: fixed;
    background-color: white;
    font-size: 1.3em;
  }

  #sidebar {}

  #sidebarcontent {
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
    border-top: solid;
    padding-left: 7vw;
    padding-right: 7vw;
    position: fixed;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #sidebartitel {
    color: red;
    font-size: 2.5em;
    padding-bottom: 2vh;
    padding: 1vw;
    padding-top: 1vh;
    text-align: left;
  }

  #sidebartekst {
    color: red;
    font-size: 1.4em;
    padding: 1vw;
    overflow-y: scroll;
  }

  #maincontent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    padding-top: 15vh;
  }

  #block1 {
    width: 40vw;
    height: 20vh;
    border: solid;
    border-color: blue;
    overflow-wrap: break-word;
    margin: 2vw;
    padding: 2px;
  }

  #headerblock {
    width: 40vw;
    height: 20vh;
    border: solid;
    border-color: red;
    overflow-wrap: break-word;
    margin: 2vw;
    padding: 2px;
  }

  #footerblock {
    width: 40vw;
    height: 20vh;
    border: solid;
    border-color: red;
    overflow-wrap: break-word;
    margin: 2vw;
    padding: 2px;
  }

  #artimage {
    width: 40vw;
    height: 20vh;
    object-fit: cover;
  }

  #sidebarimage {
    padding-left: 7vw;
    padding-top: 20px;
    width: 70vw;
    height: 80vh;
    object-fit: cover;
  }

  #logoimage {
    width: 9vh;
  }

  #lightbutton {
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
    font-size: 1.6em;
    text-decoration: underline;
  }

  #artbutton {
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
    font-size: 1.6em;
    text-decoration: underline;
  }

  #naturebutton {
    padding-left: 5px;
    padding-right: 5px;
    color: green;
    font-size: 1.6em;
    text-decoration: underline;
  }

  #maincontent p {
    visibility: hidden;
  }
}

/* desktop version */
@media only screen and (min-width : 1001px) {
  * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* chrome */
  *::-webkit-scrollbar {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  #topbarcontent {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
    padding: 6px;
    padding-left: 93vw;
    /* moving title */
    padding-top: 10px;
    position: fixed;
    font-size: 1.5em;
  }

  #filterbarcontent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: solid;
    width: 100%;
    color: black;
    padding: 6px;
    padding-left: 32vw;
    /* moving title */
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    background-color: white;
    font-size: 2em;
  }

  #sidebarcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    align-items: flex-start;
    color: black;
    border-right: solid;
    border-bottom: solid;
    padding-left: 2vw;
    padding-left: 1vw;
    width: 27vw;
    height: 100vh;
    position: fixed;
    background-color: white;
  }

  #sidebartitel {
    color: red;
    font-size: 3em;
    padding-bottom: 2vh;
    padding: 1vw;
    padding-top: 1vh;
  }

  #sidebartekst {
    color: red;
    font-size: 1.2em;
    padding: 1vw;
  }

  #maincontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 10vh;
    padding-left: 35vh;
    padding-right: 5vh;
    padding-bottom: 2vh;
  }

  #block1 {
    border: solid;
    width: 15vw;
    height: 20vh;
    border-color: blue;
    overflow-wrap: break-word;
    padding: 2px;
    margin: .5vw;
  }

  #headerblock {
    border: solid;
    width: 15vw;
    height: 20vh;
    border-color: red;
    overflow-wrap: break-word;
    margin: .5vw;
    padding: 2px;
  }

  #footerblock {
    border: solid;
    width: 15vw;
    height: 20vh;
    border-color: red;
    overflow-wrap: break-word;
    margin: .5vw;
    padding: 2px;
  }

  #artimage {
    width: 15vw;
    height: 20vh;
    object-fit: cover;
  }

  #logoimage {
    width: 9vh;
  }

  #sidebarimage {
    padding-top: 20px;
    width: 20vw;
    height: 40vh;
    object-fit: cover;
  }

  #lightbutton {
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
  }

  #artbutton {
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
  }

  #naturebutton {
    padding-left: 5px;
    padding-right: 5px;
    color: green;
  }

  /*removing titel*/
  #maincontent p {
    visibility: hidden;
  }
