* {
  padding: 0;
  margin: 0;
}

/* mobile version */
@media only screen and (max-width : 1000px) {
  body {
    overflow-x: hidden;
    padding: 5px;
  }

  #header {}

  #headercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-style: solid;
    width: 50vw;
    max-width: 100%;
    border-radius: 200px/100px;
    /* oval shape */
    height: 10vh;
    position: fixed;
    background-color: white;
  }

  #columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    margin-left: 5px;
    margin-right: 5px;
  }

  #column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    order: 1;
    width: 150%; /* oval shape stretch */
    border-radius: 500px/200px; /* oval shape */
    margin-bottom: 10px;
    height: 30vh;
    color: red;
    vertical-align: middle;
    border-style: solid;
  }

  #column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    order: 2;
    width: 150%; /* oval shape stretch */
    border-radius: 500px/200px; /* oval shape */
    margin-bottom: 10px;
    height: 30vh;
    color: blue;
    vertical-align: middle;
    border-style: solid;
  }

  #column3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    order: 3;
    width: 150%; /* oval shape stretch */
    border-radius: 500px/200px; /* oval shape */
    margin-bottom: 10px;
    height: 30vh;
    color: green;
    border-style: solid;
  }

  #column4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    order: 4;
    width: 150%; /* oval shape stretch */
    border-radius: 500px/200px; /* oval shape */
    margin-bottom: 10px;
    height: 30vh;
    color: orange;
    border-style: solid;
  }

  #column5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    order: 5;
    width: 150%; /* oval shape stretch */
    border-radius: 500px/200px; /* oval shape */
    height: 30vh;
    color: purple;
    border-style: solid;
  }

  #footer {
    display: flex;
    align-items: flex-end;
    /* footer on the right */
    justify-content: flex-end;
  }

  #footercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 100%;
    border-radius: 200px/100px;
    /* oval shape */
    height: 10vh;
    border-style: solid;
    border-color: black;
  }
}

/* desktop version */
@media only screen and (min-width : 1001px) {
  body {
    overflow-x: hidden;
    padding: 10px;
  }

  #header {
    display: flex;
    flex-direction: column;
  }

  #headercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 200px/100px;
    /* oval shape */
    margin: 10px;
    border-style: solid;
    width: 22vw;
    max-width: 100%;
    height: 7vh;
  }

  #columns {
    display: flex;
    flex-direction: row;
  }

  #column1 {
    order: 1;
    margin: 10px;
    color: red;
    background-color: white;
    border-style: solid;
    width: 20%;
    height: 75vh;
    border-radius: 500px/300px;
    /* oval shape */
    overflow-y: scroll;
    text-align: center;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #column2 {
    order: 2;
    margin: 10px;
    color: blue;
    background-color: white;
    border-style: solid;
    width: 20%;
    height: 75vh;
    border-radius: 500px/300px;
    /* oval shape */
    overflow-y: scroll;
    text-align: center;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #column3 {
    order: 3;
    margin: 10px;
    color: green;
    background-color: white;
    border-style: solid;
    width: 20%;
    height: 75vh;
    border-radius: 500px/300px;
    /* oval shape */
    overflow-y: scroll;
    text-align: center;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #column4 {
    order: 4;
    margin: 10px;
    color: orange;
    background-color: white;
    border-style: solid;
    width: 20%;
    height: 75vh;
    border-radius: 500px/300px;
    /* oval shape */
    overflow-y: scroll;
    text-align: center;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #column5 {
    order: 5;
    margin: 10px;
    color: purple;
    background-color: white;
    border-style: solid;
    width: 20%;
    height: 75vh;
    border-radius: 500px/300px;
    /* oval shape */
    overflow-y: scroll;
    text-align: center;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* hide scrollbar */
  #column1::-webkit-scrollbar {
    display: none;
  }

  #column2::-webkit-scrollbar {
    display: none;
  }

  #column3::-webkit-scrollbar {
    display: none;
  }

  #column4::-webkit-scrollbar {
    display: none;
  }

  #column5::-webkit-scrollbar {
    display: none;
  }

  #footer {
    display: flex;
    align-items: flex-end;
    /* footer on the right */
    justify-content: flex-end;
  }

  #footercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    margin: 10px;
    border-style: solid;
    width: 22vw;
    border-radius: 200px/100px;
    /* oval shape */
    max-width: 100%;
    height: 7vh;
  }
}

#columns p {
  padding: 29px;
  justify-content: center;
  align-items: center;
}
